/* Apoderados.css */

/* Contenedor principal */
.apoderados-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Barra superior para la búsqueda y el botón de nuevo apoderado */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-container {
    flex: 1;
}

.search-container input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.new-apoderado {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
}

.new-apoderado i {
    margin-right: 5px;
}

.new-apoderado:hover {
    background-color: #45a049;
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

table td button {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 0.9rem;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px; /* Añadir margen derecho para separar los botones */
}

table td button:last-child {
    margin-right: 0; /* Asegurarse que el último botón no tenga margen adicional */
}

table td .fa-trash {
    background-color: #f44336;
    padding: 5px;
    border-radius: 4px;
}

table td .fa-trash:hover {
    background-color: #e60000;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.modal h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

/* Formulario en el modal */
.form-modal label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-modal input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

/* Botones en el modal */
.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.modal-buttons button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-buttons button:first-child {
    background-color: #4CAF50;
    color: white;
}

.modal-buttons button:first-child:hover {
    background-color: #45a049;
}

.modal-buttons button:last-child {
    background-color: #f44336;
    color: white;
}

.modal-buttons button:last-child:hover {
    background-color: #e60000;
}
