.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    margin: 0 auto; /* Centrar horizontalmente */
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.wrapper .recordar-olvidar {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.recordar-olvidar label input {
    accent-color: #fff;
    margin-right: 4px;
}

.recordar-olvidar a {
    color: #fff;
    text-decoration: none;
}

.recordar-olvidar a:hover {
    text-decoration: underline;
}

.wrapper button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

/* Estilos para el selector de tipo de usuario */
.wrapper .user-type {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-type label {
    font-size: 16px;
    margin-bottom: 10px;
    color: #fff;
}

.user-type select {
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.1); /* Fondo m치s claro */
    border: 2px solid rgba(255, 255, 255, 0.4); /* Borde m치s visible */
    border-radius: 40px;
    color: #fff;
    font-size: 16px;
    padding: 0 20px;
    appearance: none; /* Elimina la flecha por defecto */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5H7z"/></svg>'); /* Icono de flecha */
    background-repeat: no-repeat;
    background-position: right 15px center;
    transition: border-color 0.3s, background 0.3s; /* Suavizar transiciones */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
}

.user-type select:hover {
    border-color: #fff; /* Cambia el color del borde al pasar el rat칩n */
}

.user-type select:focus {
    outline: none;
    border-color: #fff; /* Cambia el color del borde al foco */
    background: rgba(255, 255, 255, 0.2); /* Fondo m치s oscuro al foco */
}
