/* Agrega estos estilos a tu archivo CSS existente o crea uno nuevo */
.button-container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente si es necesario */
    margin-top: 20px; /* Espacio entre el banner y los botones */
}

.agenda-button, .subject-button {
    background-color:  #acacac; /* Color de fondo azul */
    color:#fff ; /* Color del texto blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    margin: 0 10px; /* Espaciado entre botones */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background-color 0.3s; /* Animación al pasar el mouse */
}

.agenda-button:hover, .subject-button:hover {
    background-color: #acacac; /* Color más oscuro al pasar el mouse */
}
